body {
font-size:18px;
}
ul.scale-list {
	display:none;
}
div.alert-info {
	display:none;
}
h1.page-header {
	font-size: 1.4em;
}
.filter-header .form-wrapper {
	width:25%;
	margin-right:1%;
	display:inline-block;
	float:left;

}
.filter-header .field--name-field-project {
	width:40%;
}
.field--widget-string-textarea {
	width:65%;
	display:inline-block;
	vertical-align: top;
}
.field--widget-options-select, .issue-codes {
	width:30%;
	display:inline-block;
}
.form-wrapper .js-form-item {
	width: 95%;
}

.form-wrapper .js-form-item.form-type-date {
	width: 48%;
	display:inline-block;
}
.view-content {
	background-color:#fff;
	font-size:.85em;
}




/* State map styles */

body.path-usamap svg.map-view,
body.path-snap-state-characteristics svg.map-view,
body.path-snap-household-state-averages svg.map-view {
	height:450px;
	width:96%;
	overflow: hidden; 
	position: relative;
}
body.path-usamap svg.map-view rect,
body.path-snap-state-characteristics svg.map-view rect,
body.path-snap-household-state-averages svg.map-view rect {
	fill:#ffffff;
	stroke-width:3;
	stroke:rgb(0,0,0);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
	fill-opacity: 0;
}
body.path-usamap path,
body.path-snap-state-characteristics path,
body.path-snap-household-state-averages div.view-usamap path {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 1;
    cursor: pointer;
    stroke-opacity: 1;
    stroke-linejoin: round;
    fill-opacity: 1 !important;
 /*   fill:#416098; */
    transition: .6s fill;
    stroke: #aaaaaa;
}
body.path-usamap  h1.page-header,
body.path-snap-state-characteristics h1.page-header,
body.path-snap-household-state-averages h1.page-header { 
font-size: 1.4em;
    display: table-cell;
    height: 68px;
    vertical-align: middle;

}



tspan {
	font-size: 1.2em;
}
body.path-usamap div.map-scale,
body.path-snap-state-characteristics div.map-scale,
body.path-snap-household-state-averages div.map-scale {
	margin: left:20px;
}

body.path-usamap path[Attributes Style],
body.path-snap-state-characteristics path[Attributes Style],
body.path-snap-household-state-averages div.view-usamap[Attributes Style]{
	fill: rgb(119, 188, 255);
    fill-opacity: 1;
    opacity: 1;
    stroke: rgb(255, 255, 255);
    stroke-linejoin: round;
    stroke-opacity: 1;
    stroke-width: 1.875;
    transform: matrix(0.487, 0, 0, 0.487, 0, 0);
    
}
body.path-usamap text,
body.path-snap-state-characteristics text,
body.path-snap-household-state-averages div.view-usamap text {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-anchor: middle;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-stretch: normal;
    font-size: .6em;
    line-height: normal;
    font-family: arial, sans-serif;
    cursor: pointer;
    text-anchor: middle;
    stroke: none;
    fill: #000;
    stroke-width: 0;
    
  /*  transform: matrix(0.487, 0, 0, 0.487, 163.639, 101.182); */
}
body.path-usamap tspan,
body.path-snap-state-characteristics tspan,
body.path-snap-household-state-averages div.view-usamap tspan {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	
}
body.path-usamap a.active-state.us-state-DC tspan ,
body.path-usamap a.active-state.us-state-CT tspan ,
body.path-usamap a.active-state.us-state-NJ tspan,
body.path-usamap a.active-state.us-state-DE tspan,
body.path-usamap a.active-state.us-state-MD tspan,
body.path-usamap a.active-state.us-state-RI tspan,
body.path-usamap a.active-state.us-state-NH tspan,
body.path-usamap a.active-state.us-state-MA tspan,
body.path-usamap a.active-state.us-state-VT tspan,
body.path-snap-state-characteristics a.active-state.us-state-DC tspan,
body.path-snap-state-characteristics a.active-state.us-state-CT tspan,
body.path-snap-state-characteristics a.active-state.us-state-NJ tspan,
body.path-snap-state-characteristics a.active-state.us-state-DE tspan,
body.path-snap-state-characteristics a.active-state.us-state-ND tspan,
body.path-snap-state-characteristics a.active-state.us-state-RI tspan,
body.path-snap-state-characteristics a.active-state.us-state-NH tspan,
body.path-snap-state-characteristics a.active-state.us-state-MA tspan,
body.path-snap-state-characteristics a.active-state.us-state-VT tspan,
body.path-snap-household-state-averages div.view-usamap a.active-state.us-state-DC tspan,
body.path-snap-household-state-averages div.view-usamap a.active-state.us-state-CT tspan,
body.path-snap-household-state-averages div.view-usamap a.active-state.us-state-NJ tspan,
body.path-snap-household-state-averages div.view-usamap a.active-state.us-state-DE tspan,
body.path-snap-household-state-averages div.view-usamap a.active-state.us-state-ND tspan,
body.path-snap-household-state-averages div.view-usamap a.active-state.us-state-RI tspan,
body.path-snap-household-state-averages div.view-usamap a.active-state.us-state-NH tspan,
body.path-snap-household-state-averages div.view-usamap a.active-state.us-state-MA tspan,
body.path-snap-household-state-averages div.view-usamap a.active-state.us-state-VT tspan {
	fill:#924C34;
	stroke:#000;
	stroke-width:.3;
}

/******/


a.active-state path.active-map{
	fill: #924C34 !important;
	stroke: #924C34 !important;
	stroke-width: 6;
	stroke-opacity: .6 !important;

}

a.us-state path:hover, a.us-state path:focus, a.us-state:hover > path {	
	fill: #059b72;	
	fill-opacity:1 !important;
}

/*** Map scales ****/

path.active-map.active-map-data-na {
	fill:#bbbbbb !important;
	fill-opacity: 1 !important;
	
}
.fns-map-scale ul li.active-map-data-na {
	background-color:#bbbbbb;
text-transform: none;
}

path[class*="hhdef"], path[class*="prwork"] {
    fill:#7E4ED8 !important;
}

path[class*="hhold"], path[class*="prold"] {
    fill:#50750B !important;
} 

path[class*="hhdis"] {
    fill:#0059B3 !important;
}
path[class*="hhadult"] {
    fill:#A04040 !important;
}
path[class*="hidef"] {
    fill:#167B44 !important;
}
path[class*="hitanf"] {
    fill:#076F8E !important;
}
path[class*="hizero"] {
    fill:#257369 !important;
}
path[class*="hissi"] {
    fill:#9E456B !important;
}
path[class*="sadef"] {
    fill:#5D7F40 !important;
}
path[class*="sasize"] {
    fill:#029485 !important;
}
path[class*="sapov"] {
    fill:#587815 !important;
}
path[class*="sainc"] {
    fill:#5D7F40  !important;
}
path[class*="sacert"] {
    fill:#DB4E00  !important;
}
path[class*="prdef"] {
    fill:#416098  !important;
}


/*** map scale SNAP state averages --  on pages starting with /SNAP-State-averages ****/
 body.path-snap-household-state-averages div.view-usamap.state-averages path.active-map-1200sainc {
	fill-opacity: 1 !important;
}
body.path-snap-household-state-averages div.view-usamap.state-averages path.active-map-1000sainc {
	fill-opacity: .84 !important;
}
body.path-snap-household-state-averages div.view-usamap.state-averages path.active-map-950sainc {
	fill-opacity: .68 !important;
}
body.path-snap-household-state-averages div.view-usamap.state-averages a.us-state path.active-map-900sainc {
	fill-opacity: .52 !important;
}
body.path-snap-household-state-averages div.view-usamap.state-averages path.active-map-850sainc {
	fill-opacity: .36 !important;
}
body.path-snap-household-state-averages div.view-usamap.state-averages path.active-map-800sainc {
	fill-opacity: .2 !important;
}
body.path-snap-household-state-averages div.view-usamap.state-averages path.active-map-750sainc {
	fill-opacity: .04 !important;
}

/*** map scale SNAP households - bj - "scalehhold", "Scalehhdef", "Scalehhdis", "Scalehhadult" on pages starting with /SNAP-State-characteristics ****/
body.path-snap-state-characteristics path.active-map-40hhold, 
body.path-snap-state-characteristics path.active-map-60hhdef,
body.path-snap-state-characteristics path.active-map-45hhdis,
body.path-snap-state-characteristics path.active-map-30hhadult,
body.path-snap-state-characteristics path.active-map-42hidef {
	fill-opacity: 1 !important;
}
body.path-snap-state-characteristics path.active-map-34hhold,
body.path-snap-state-characteristics path.active-map-53hhdef,
body.path-snap-state-characteristics path.active-map-30hhdis,
body.path-snap-state-characteristics path.active-map-25hhadult,
body.path-snap-state-characteristics path.active-map-36hidef{
	fill-opacity: .76 !important;
}
body.path-snap-state-characteristics path.active-map-28hhold,
body.path-snap-state-characteristics path.active-map-46hhdef,
body.path-snap-state-characteristics path.active-map-25hhdis,
body.path-snap-state-characteristics path.active-map-20hhadult,
body.path-snap-state-characteristics path.active-map-32hidef
{
	fill-opacity: .52 !important;
}
body.path-snap-state-characteristics path.active-map-22hhold,
body.path-snap-state-characteristics path.active-map-39hhdef,
body.path-snap-state-characteristics path.active-map-20hhdis,
body.path-snap-state-characteristics path.active-map-15hhadult,
body.path-snap-state-characteristics path.active-map-28hidef{
	fill-opacity: .28 !important;	
}
body.path-snap-state-characteristics path.active-map-16hhold,
body.path-snap-state-characteristics path.active-map-32hhdef,
body.path-snap-state-characteristics path.active-map-15hhdis,
body.path-snap-state-characteristics path.active-map-10hhadult,
body.path-snap-state-characteristics path.active-map-24hidef
{
	fill-opacity: .04 !important;	
}


body.path-usamap path.active-map-100prdef,  /* 96-100 */
body.path-usamap path.active-map-100prwork,  /* 91-100 */
body.path-snap-state-characteristics path.active-map-29hizero,
body.path-snap-state-characteristics path.active-map-35hissi,
body.path-snap-state-characteristics path.active-map-20hitanf
{
	fill-opacity:1 !important;	
}
body.path-usamap path.active-map-95prdef, /* 91-95 */
body.path-usamap path.active-map-90prwork, /* 81-90 */
body.path-snap-state-characteristics path.active-map-24hizero,
body.path-snap-state-characteristics path.active-map-28hissi,
body.path-snap-state-characteristics path.active-map-10hitanf
{
	fill-opacity:.81 !important;	
}
body.path-usamap path.active-map-90prdef,  /* 86-90 */
body.path-usamap path.active-map-80prwork, /* 76-80 */
body.path-snap-state-characteristics path.active-map-21hizero,
body.path-snap-state-characteristics path.active-map-26hissi,
body.path-snap-state-characteristics path.active-map-5hitanf
{
	fill-opacity:.62 !important;	
}
body.path-usamap path.active-map-85prdef, /* 81-85 */
body.path-usamap path.active-map-75prwork, /* 71-75 */
body.path-snap-state-characteristics path.active-map-18hizero,
body.path-snap-state-characteristics path.active-map-24hissi,
body.path-snap-state-characteristics path.active-map-4hitanf
{
  fill-opacity:.43 !important;	
}
body.path-usamap path.active-map-80prdef, /* 76-80 */
body.path-usamap path.active-map-70prwork, /* 66-70 */
body.path-snap-state-characteristics path.active-map-15hizero,
body.path-snap-state-characteristics path.active-map-22hissi,
body.path-snap-state-characteristics path.active-map-3hitanf
{
	fill-opacity:.24 !important;	
}
body.path-usamap path.active-map-75prdef, /* 55-75 */
body.path-usamap path.active-map-65prwork, /* 55-65 */
body.path-snap-state-characteristics path.active-map-10hizero,
body.path-snap-state-characteristics path.active-map-18hissi,
body.path-snap-state-characteristics path.active-map-2hitanf
{
	fill-opacity:.05 !important;	
}


body.path-usamap path.active-map-70prold { /* 56-70 */
  fill-opacity:1 !important;	
}
body.path-usamap path.active-map-55prold { /* 51-55 */
	fill-opacity:.84 !important;	
}
body.path-usamap path.active-map-50prold { /* 46-50 */
	fill-opacity:.68 !important;	
}
body.path-usamap path.active-map-45prold { /* 41-45 */
	fill-opacity:.52 !important;	
}
body.path-usamap path.active-map-40prold { /* 36-40 */
  fill-opacity:.36 !important;	
}
body.path-usamap path.active-map-35prold { /* 31-35 */
	fill-opacity:.20 !important;	
}
body.path-usamap path.active-map-30prold { /* 15-30 */
	fill-opacity:.04 !important;	
}

/* For map scale  with 7 ranges. (e.g. 70 to 0% ). on pages /SNAP-State-characteristics/* ***/

body.path-snap-state-characteristics path.active-map-71, body.path-snap-household-state-averages div.view-usamap.state-averages path.active-map-575sadef {
	fill-opacity: 1 !important;
}
body.path-snap-state-characteristics path.active-map-61, body.path-snap-household-state-averages div.view-usamap.state-averages path.active-map-299sadef  {
	fill-opacity: .84 !important;
}
body.path-snap-state-characteristics path.active-map-51, body.path-snap-household-state-averages  div.view-usamap.state-averages path.active-map-279sadef  {
	fill-opacity: .68 !important;
}
body.path-snap-state-characteristics path.active-map-41, body.path-snap-household-state-averages div.view-usamap.state-averages path.active-map-259sadef {
	fill-opacity: .52 !important;
}
body.path-snap-state-characteristics path.active-map-31, body.path-snap-household-state-averages div.view-usamap.state-averages path.active-map-239sadef  {
	fill-opacity: .36 !important;
}
body.path-snap-state-characteristics path.active-map-21, body.path-snap-household-state-averages div.view-usamap.state-averages path.active-map-219sadef {
	fill-opacity: .2 !important;
}
body.path-snap-state-characteristics path.active-map-11, body.path-snap-household-state-averages div.view-usamap.state-averages path.active-map-199sadef  {
	fill-opacity: .04 !important;
}

/* For "scalesapov" scale running from 90 to 40 %  on page /SNAP-household-state-averages/gross-countable-income-percentage-poverty*/

body.path-snap-household-state-averages div.view-usamap.state-averages path.active-map-90sapov {
	fill-opacity: 1 !important;
}
body.path-snap-household-state-averages div.view-usamap.state-averages  path.active-map-74sapov {
	fill-opacity: .81 !important;
}
body.path-snap-household-state-averages div.view-usamap.state-averages path.active-map-69sapov {	
	fill-opacity: .62 !important;
}
body.path-snap-household-state-averages div.view-usamap.state-averages path.active-map-64sapov {	
	fill-opacity: .43 !important;
}
body.path-snap-household-state-averages div.view-usamap.state-averages path.active-map-59sapov {	
	fill-opacity: .24 !important;
}
body.path-snap-household-state-averages div.view-usamap.state-averages path.active-map-54sapov {	
	fill-opacity: .05 !important;
}

/* "scalesasize" Houshold scale on page  /SNAP-household-state-averages/household-size*/

body.path-snap-household-state-averages div.view-usamap.state-averages path.active-map-2-5sasize {
	fill-opacity: 1 !important;
}
body.path-snap-household-state-averages div.view-usamap.state-averages path.active-map-2-3sasize {
	fill-opacity: .76 !important;
}
body.path-snap-household-state-averages div.view-usamap.state-averages path.active-map-2-1sasize {	
	fill-opacity: .53 !important;
}
body.path-snap-household-state-averages div.view-usamap.state-averages path.active-map-1-9sasize {
	fill-opacity: .28 !important;
}
body.path-snap-household-state-averages div.view-usamap.state-averages path.active-map-1-7sasize {	
	fill-opacity: .05 !important;
}

/* "scalesacert" Certification months scale on page /SNAP-household-state-averages/certification-period */

body.path-snap-household-state-averages div.view-usamap.state-averages path.active-map-21sacert {
	fill-opacity:1 !important;
}
body.path-snap-household-state-averages div.view-usamap.state-averages path.active-map-19sacert {
	fill-opacity:.84 !important;
}
body.path-snap-household-state-averages div.view-usamap.state-averages  path.active-map-17sacert {
	fill-opacity:.68 !important;
}
body.path-snap-household-state-averages div.view-usamap.state-averages path.active-map-15sacert {
	fill-opacity:.52 !important;
}
body.path-snap-household-state-averages div.view-usamap.state-averages path.active-map-13sacert {
	fill-opacity:.36 !important;
}
body.path-snap-household-state-averages div.view-usamap.state-averages path.active-map-11sacert {
	fill-opacity:.20 !important;
}
body.path-snap-household-state-averages div.view-usamap.state-averages path.active-map-9sacert {
	fill-opacity:.04 !important;
}


/****************/

/** Scale legends **/

.fns-map-scale {
    position: absolute;
    right: 0px;
    top: 200px;
    margin-left:30px;
    font-size: .85em;
    font-weight:bold;
    font-style:italic;
}


.fns-map-scale div {
	margin-bottom:14px;
	line-height:.95em;
	text-align:left;
}
.fns-map-scale ul {
    background-color: #eff1f2;
    display: block;
   /* height: 228px;*/
    margin: 0;
    padding: 0;
    width: 14px;
}

.fns-map-scale ul li.scale-bot {
    border: 1px solid #FFFFFF;
    border-bottom: none;
    color: #4D4D4D;
    display: block;
    font-family: 'museo_sans300', Arial, Helvetica, sans-serif;
    font-size: .85em;
    font-weight: normal;
    opacity:1 !important;
    height: 1px;
    list-style: none;
    padding: 0 0 0 0;
    padding-top:2px;

    text-align: right;
    text-transform: uppercase;
    width: 12px;
}
.fns-map-scale ul li {
    border: 1px solid #FFFFFF;
    border-bottom: none;
    color: #4D4D4D;
    display: block;
    font-family: 'museo_sans300', Arial, Helvetica, sans-serif;
    font-size: .85em;
    font-weight: normal;
    opacity:1 !important;
    height: 38px;
    list-style: none;
    padding: 0 0 0 0;
    padding-top:2px;

    text-align: right;
    text-transform: uppercase;
    width: 12px;
}
.fns-map-scale ul li.active-map-61 span, .fns-map-scale ul li.active-map-51 span, .fns-map-scale ul li.active-map-41 span, 
.fns-map-scale ul li.active-map-31 span, .fns-map-scale ul li.active-map-21 span,   .fns-map-scale ul li.active-map-11 span ,
.fns-map-scale ul li.active-map-92 span, .fns-map-scale ul li.active-map-82 span, .fns-map-scale ul li.active-map-72 span, 
.fns-map-scale ul li.active-map-62 span, .fns-map-scale ul li.active-map-52 span,   .fns-map-scale ul li.active-map-42 span ,
.fns-map-scale ul li.active-map-1200 span, .fns-map-scale ul li.active-map-1100 span, .fns-map-scale ul li.active-map-1000 span, 
.fns-map-scale ul li.active-map-900 span, .fns-map-scale ul li.active-map-800 span,   .fns-map-scale ul li.active-map-700 span ,
.fns-map-scale ul li.active-map-100 span, .fns-map-scale ul li.active-map-85 span, .fns-map-scale ul li.active-map-70 span, 
.fns-map-scale ul li.active-map-55 span, .fns-map-scale ul li.active-map-40 span,   .fns-map-scale ul li.active-map-25 span,
.fns-map-scale ul li.active-map-2-5 span, .fns-map-scale ul li.active-map-2-3 span, .fns-map-scale ul li.active-map-2-1 span, 
.fns-map-scale ul li.active-map-1-9 span, .fns-map-scale ul li.active-map-1-7 span,
.fns-map-scale ul li.active-map-575 span, .fns-map-scale ul li.active-map-299 span, .fns-map-scale ul li.active-map-279 span, 
.fns-map-scale ul li.active-map-259 span, .fns-map-scale ul li.active-map-239 span,   .fns-map-scale ul li.active-map-219 span, 
.fns-map-scale ul li.active-map-21 span, .fns-map-scale ul li.active-map-19 span, .fns-map-scale ul li.active-map-17 span, 
.fns-map-scale ul li.active-map-15 span, .fns-map-scale ul li.active-map-13 span,   .fns-map-scale ul li.active-map-11 span,
 .fns-map-scale ul li.active-map-9 span, .fns-map-scale ul li.active-map-199 span {
	color:#000;
	 opacity:1 !important;
	}
	
.fns-map-scale ul li span {
    display: block;
    line-height: 0;
    white-space: nowrap;
    margin: 0 0 0 15px;
}
.fns-map-scale ul li.mid-range span {
    margin: 18px 0 0 15px;
}


body.path-usamap li.active-map,
body.path-snap-state-characteristics li.active-map {
	background-color:rgba(65,96,152,1);
}
body.path-snap-household-state-averages li.active-map,
body.path-snap-household-state-averages li.active-map-g {
	background-color:rgba(93,127,64,1);
}

/**** Scale legends ****/
/**** legend scale 100%-0% - for custom block "Map Scale" on /usamap pages. 
body.path-usamap li.active-map-100 {
	background-color:rgba(65,96,152,1);
}
body.path-usamap li.active-map-90 {
	background-color:rgba(65,96,152,.80);
}
body.path-usamap li.active-map-80 {
	background-color:rgba(65,96,152,.60);
}
body.path-usamap li.active-map-70{
	background-color:rgba(65,96,152,.40);
}
body.path-usamap li.active-map-60{
	background-color:rgba(65,96,152,.20);
}
***/
/**** Scale legends bj ****/
/**** legend scale 70-10 - for custom block Map Scale - "Scale70-10"  fns-map-scale on /usamap pages. 
body.path-usamap li.active-map-73 {
	background-color:rgba(65,96,152,1);
}
body.path-usamap li.active-map-63 {
	background-color:rgba(65,96,152,.83);
}
body.path-usamap li.active-map-53 {
	background-color:rgba(65,96,152,.66);
}
body.path-usamap li.active-map-43{
	background-color:rgba(65,96,152,.49);
}
body.path-usamap li.active-map-33{
	background-color:rgba(65,96,152,.32);
}
body.path-usamap li.active-map-23{
	background-color:rgba(65,96,152,.15);
}***/

/**** legend scale 100-50 - for custom block Map Scale - "Scaleprwork"  fns-map-scale on /usamap pages. ***/
body.path-usamap li.active-map-100prwork { /* 91-100 */
	background-color:rgba(126,78,216,1);	
}
body.path-usamap li.active-map-90prwork { /* 81-90 */
	background-color:rgba(126,78,216,.81);
}
body.path-usamap li.active-map-80prwork { /* 76-80 */
	background-color:rgba(126,78,216,.62);		
}
body.path-usamap li.active-map-75prwork { /* 71-75 */
	background-color:rgba(126,78,216,.43);
}
body.path-usamap li.active-map-70prwork{ /* 66-70 */
	background-color:rgba(126,78,216,.24);
} /* 55-75 */
body.path-usamap lih.active-map-65prwork { /* 55-65 */
	background-color:rgba(126,78,216,.05);
}
/**** Scale legends bj ****/
/**** legend scale 100-50 - for custom block Map Scale - "Scaleprdef"  fns-map-scale on /usamap pages. ***/
body.path-usamap li.active-map-100prdef { /* 96-100 */
	background-color:rgba(65,96,152,1);
}
body.path-usamap li.active-map-95prdef{ /* 91-95 */
	background-color:rgba(65,96,152,.81);
}
body.path-usamap li.active-map-90prdef { /* 86-90 */
	background-color:rgba(65,96,152,.62);
}
body.path-usamap li.active-map-85prdef { /* 81-85 */
	background-color:rgba(65,96,152,.43);
}
body.path-usamap li.active-map-80prdef {  /* 76-80 */
	background-color:rgba(65,96,152,.24);
}
body.path-usamap li.active-map-75prdef {/* 55-75 */
	background-color:rgba(65,96,152,.05);
}

/**** legend scale 100-50 - for custom block Map Scale - "Scaleprold"  fns-map-scale on /usamap pages. ***/
body.path-usamap li.active-map-70prold { /* 56-70 */
 background-color:rgba(80,117,11,1);	
}
body.path-usamap li.active-map-55prold { /* 51-55 */
   background-color:rgba(80,117,11,.84);
}
body.path-usamap li.active-map-50prold { /* 46-50 */
   background-color:rgba(80,117,11,.68);
}
body.path-usamap li.active-map-45prold { /* 41-45 */
   background-color:rgba(80,117,11,.52);
}
body.path-usamap li.active-map-40prold { /* 36-40 */
   background-color:rgba(80,117,11,.36);	
}
body.path-usamap li.active-map-35prold { /* 31-35 */
	background-color:rgba(80,117,11,.20);	
}
body.path-usamap li.active-map-30prold { /* 15-30 */
	background-color:rgba(80,117,11,.04);
}



/*** legend scale $1200-$600 - for "scalesainc"   On page /SNAP-household-state-averages/gross-countable-income-dollars ****/
body.path-snap-household-state-averages li.active-map-1200sainc {
	background-color:rgba(93,127,64,1);
}
body.path-snap-household-state-averages li.active-map-1000sainc {
	background-color:rgba(93,127,64,.84);
}
body.path-snap-household-state-averages li.active-map-950sainc {
	background-color:rgba(93,127,64,.68);
}
body.path-snap-household-state-averages li.active-map-900sainc {	
		background-color:rgba(93,127,64,.52);
}
body.path-snap-household-state-averages li.active-map-850sainc{
		background-color:rgba(93,127,64,.36);
}
body.path-snap-household-state-averages li.active-map-800sainc
{
	background-color:rgba(93,127,64,.2);
}
body.path-snap-household-state-averages li.active-map-750sainc {
		background-color:rgba(93,127,64,.1);
}

/**** Scale legends bj ****/
/*** legend scale SNAP households - for custom block "Map Household Scale" - "scalehhdef" on pages starting with /SNAP-State-characteristics 
body.path-snap-state-characteristics li.active-map-61 {
	background-color:rgba(65,96,152,1);
}
body.path-snap-state-characteristics li.active-map-51{
	background-color:rgba(65,96,152,.80);
}
body.path-snap-state-characteristics li.active-map-41{
	background-color:rgba(65,96,152,.60);
}
body.path-snap-state-characteristics li.active-map-31{
	background-color:rgba(65,96,152,.40);
}
body.path-snap-state-characteristics li.active-map-21{
	background-color:rgba(65,96,152,.20);	
}
body.path-snap-state-characteristics li.active-map-11{
	background-color:rgba(65,96,152,.10);
}****/

/*** legend scale SNAP households - for custom block "Map Household Scale"  - "Scalehhdef" on pages starting with /SNAP-State-characteristics ****/
body.path-snap-state-characteristics li.active-map-60hhdef {
	background-color:rgba(126,78,216,1);
}
body.path-snap-state-characteristics li.active-map-53hhdef{
	background-color:rgba(126,78,216,.76);
}
body.path-snap-state-characteristics li.active-map-46hhdef{
	background-color:rgba(126,78,216,.52);
}
body.path-snap-state-characteristics li.active-map-39hhdef{
	background-color:rgba(126,78,216,.28);
}
body.path-snap-state-characteristics li.active-map-32hhdef{
	background-color:rgba(126,78,216,.04);
}

/*** legend scale SNAP households - for custom block "Map Household Scale"  - "Scalehhold" on pages starting with /SNAP-State-characteristics ****/
body.path-snap-state-characteristics li.active-map-40hhold {
	background-color:rgba(80,117,11,1);
}
body.path-snap-state-characteristics li.active-map-34hhold{
	background-color:rgba(80,117,11,.76);
}
body.path-snap-state-characteristics li.active-map-28hhold{
	background-color:rgba(80,117,11,.52);
}
body.path-snap-state-characteristics li.active-map-22hhold{
	background-color:rgba(80,117,11,.28);
}
body.path-snap-state-characteristics li.active-map-16hhold{
	background-color:rgba(80,117,11,.04);
}

/*** legend scale SNAP households -bj- for custom block "Map Household Scale" - "scalehhdis" on pages starting with /SNAP-State-characteristics ****/
body.path-snap-state-characteristics li.active-map-45hhdis {
	background-color:rgba(0,89,179,1);
}
body.path-snap-state-characteristics li.active-map-30hhdis{
	background-color:rgba(0,89,179,.76);
}
body.path-snap-state-characteristics li.active-map-25hhdis{
	background-color:rgba(0,89,179,.52);
}
body.path-snap-state-characteristics li.active-map-20hhdis{
	background-color:rgba(0,89,179,.28);
}
body.path-snap-state-characteristics li.active-map-15hhdis{
	background-color:rgba(0,89,179,.04);
}

/*** legend scale SNAP households -bj- for custom block "Map Household Scale"  - "scalehhadult" on pages starting with /SNAP-State-characteristics ****/
body.path-snap-state-characteristics li.active-map-30hhadult {
	background-color:rgba(160,64,64,1);
}
body.path-snap-state-characteristics li.active-map-25hhadult{
	background-color:rgba(160,64,64,.76);
}
body.path-snap-state-characteristics li.active-map-20hhadult{
	background-color:rgba(160,64,64,.52);
}
body.path-snap-state-characteristics li.active-map-15hhadult{
	background-color:rgba(160,64,64,.28);
}
body.path-snap-state-characteristics li.active-map-10hhadult{
	background-color:rgba(160,64,64,.04);
}


/**** legend scale - for custom block "Map Household Scale" - "Scalehizero"  fns-map-scale on /usamap pages. ***/

body.path-snap-state-characteristics li.active-map-42hidef { 
	background-color:rgba(22,123,68,1);
}
body.path-snap-state-characteristics li.active-map-36hidef{ 
	background-color:rgba(22,123,68,.76);
}
body.path-snap-state-characteristics li.active-map-32hidef {
	background-color:rgba(22,123,68,.52);
}
body.path-snap-state-characteristics li.active-map-28hidef { 
	background-color:rgba(22,123,68,.28);
}
body.path-snap-state-characteristics li.active-map-24hidef { 
	background-color:rgba(22,123,68,.04);
}

body.path-snap-state-characteristics li.active-map-29hizero { 
	background-color:rgba(37,115,105,1);
}
body.path-snap-state-characteristics li.active-map-24hizero{ 
	background-color:rgba(37,115,105,.81);
}
body.path-snap-state-characteristics li.active-map-21hizero {
	background-color:rgba(37,115,105,.62);
}
body.path-snap-state-characteristics li.active-map-18hizero { 
	background-color:rgba(37,115,105,.43);
}
body.path-snap-state-characteristics li.active-map-15hizero { 
	background-color:rgba(37,115,105,.24);
}
body.path-snap-state-characteristics li.active-map-10hizero {
	background-color:rgba(37,115,105,.05);
}

/**** legend scale - for custom block "Map Household Scale" - "Scalehissi"  fns-map-scale on /usamap pages. ***/
body.path-snap-state-characteristics li.active-map-35hissi { 
	background-color:rgba(158,69,107,1);
}
body.path-snap-state-characteristics li.active-map-28hissi{ 
	background-color:rgba(158,69,107,.81);
}
body.path-snap-state-characteristics li.active-map-26hissi{
	background-color:rgba(158,69,107,.62);
}
body.path-snap-state-characteristics li.active-map-24hissi { 
	background-color:rgba(158,69,107,.43);
}
body.path-snap-state-characteristics li.active-map-22hissi { 
	background-color:rgba(158,69,107,.24);
}
body.path-snap-state-characteristics li.active-map-18hissi {
	background-color:rgba(158,69,107,.05);
}

/**** legend scale - for custom block "Map Household Scale" - "Scalehitanf"  fns-map-scale on /usamap pages. ***/
body.path-snap-state-characteristics li.active-map-20hitanf { 
	background-color:rgba(7,111,142,1);
}
body.path-snap-state-characteristics li.active-map-10hitanf{ 
	background-color:rgba(7,111,142,.81);
}
body.path-snap-state-characteristics li.active-map-5hitanf{
	background-color:rgba(7,111,142,.62);
}
body.path-snap-state-characteristics li.active-map-4hitanf { 
	background-color:rgba(7,111,142,.43);
}
body.path-snap-state-characteristics li.active-map-3hitanf { 
	background-color:rgba(7,111,142,.24);
}
body.path-snap-state-characteristics li.active-map-2hitanf {
	background-color:rgba(7,111,142,.05);
}

/*** Scale for Benefits > $299 to < $200 - for custom block "map scale benefits dollar" on page /SNAP-household-state-averages***/

body.path-snap-household-state-averages li.active-map-575sadef {
	background-color:rgba(93,127,64,1);
}
body.path-snap-household-state-averages li.active-map-299sadef {
	background-color:rgba(93,127,64,.84);
}
body.path-snap-household-state-averages li.active-map-279sadef {
	background-color:rgba(93,127,64,.68);
}
body.path-snap-household-state-averages li.active-map-259sadef {	
		background-color:rgba(93,127,64,.52);
}
body.path-snap-household-state-averages li.active-map-239sadef{
		background-color:rgba(93,127,64,.36);
}
body.path-snap-household-state-averages li.active-map-219sadef {
	background-color:rgba(93,127,64,.20);
}
body.path-snap-household-state-averages li.active-map-199sadef {
		background-color:rgba(93,127,64,.04);
}


/*** legend for certification months (21-7 months), for custom block "Certification period scale range" On page /SNAP-household-state-averages/certification-period **/ 
body.path-snap-household-state-averages li.active-map-21sacert {
	background-color:rgba(219,78,0,1);
}
body.path-snap-household-state-averages li.active-map-19sacert {
	background-color:rgba(219,78,0,.84);
}
body.path-snap-household-state-averages li.active-map-17sacert {
	background-color:rgba(219,78,0,.68);
}
body.path-snap-household-state-averages li.active-map-15sacert {	
		background-color:rgba(219,78,0,.52);
}
body.path-snap-household-state-averages li.active-map-13sacert{
		background-color:rgba(219,78,0,.36);
}
body.path-snap-household-state-averages li.active-map-11sacert {
	background-color:rgba(219,78,0,.20);
}
body.path-snap-household-state-averages li.active-map-9sacert {
	background-color:rgba(219,78,0,.04);
}


/*** Percent poverty level (90%-50%), for custom block "Map scale 90-40"  on page  /SNAP-household-state-averages/gross-countable-income-percentage-poverty**/ 
body.path-snap-household-state-averages li.active-map-90sapov {
	background-color:rgba(88,120,21,1);
}
body.path-snap-household-state-averages li.active-map-74sapov {
	background-color:rgba(88,120,21,.81);
}
body.path-snap-household-state-averages li.active-map-69sapov  {	
		background-color:rgba(88,120,21,.62);
}
body.path-snap-household-state-averages li.active-map-64sapov  {	
		background-color:rgba(88,120,21,.43);
}
body.path-snap-household-state-averages li.active-map-59sapov  {
		background-color:rgba(88,120,21,.24);
}
body.path-snap-household-state-averages li.active-map-54sapov  {
		background-color:rgba(88,120,21,.05);
}


/*** Scale for household size with 5 ranges.  custom block = household size scale range. On page /SNAP-household-state-averages/household-size **/
body.path-snap-household-state-averages  li.active-map-2-5sasize {	
		background-color:rgba(2,148,133,1);
}
body.path-snap-household-state-averages  li.active-map-2-3sasize {
		background-color:rgba(2,148,133,.76);
}
body.path-snap-household-state-averages   li.active-map-2-1sasize {
		background-color:rgba(2,148,133,.53);
}
body.path-snap-household-state-averages  li.active-map-1-9sasize {
		background-color:rgba(2,148,133,.28);
}
body.path-snap-household-state-averages  li.active-map-1-7sasize {
		background-color:rgba(2,148,133,.05);
}

/***************/


/*** Map buttons  ***/

.active-button {
	background-color:#222222;
	color:#fff;
}

div#map-triggers{
	font-size:.8em;
	width:100%;
	display:inline-block;
	margin-bottom:10px;
	float:left;
}
div#map-triggers ul{
	list-style:none;
}
div#map-triggers ul li{
	display:inline-block;
	width:19%;
}
div#map-triggers ul.buttons-4 li{
	width:23%;
}
div#map-triggers h3{
	font-size:1em;
	font-weight:bold;
}
div#map-triggers button{
	padding:10px;
	width:32%;
	display:inline-block;
}
ul.map-trigger-buttons {
	padding-left:0;
}
body.path-snap-state-characteristics div#map-triggers button,
body.path-snap-household-state-averages div#map-triggers button{
padding:0;
	width:100%;
	display:inline-block;
	height: 55px;
	margin: 2px;
	padding: 5px 5px;
	line-height:1em;
	vertical-align:middle;
}
/***/

/****** Header styles (National and one state values, viz title ****/

div.one-rate {
	display:inline-block;
	width:50%;
	padding: 0;
	font-size: 1.2em;
	font-weight:bold;
	border: none;
	background-color:#F2F2F2;
	margin:20px -4px;
	text-align:center;	
}
div.state-rate, div.one-state {
	display:none;
}
div.all-states, div.one-state {
	background-color: #F2F2F2;
	border:none;
	padding:10px;
	width:100%	
}
div.one-state{
	border-left:2px solid #000;
}
span.active-val, span.active-title {
color: #407972;
}
/**************/

/******* Footer objects: more options, select by state, definitions, source info, data table ******/

div.more-options-menu {
	float:left;

	/* position:absolute; */
	clear:left;
width:20%;
margin-bottom:20px;
}

.viz-footer {
	margin-top:15px;
	padding-top:15px;
	border-top:1px solid #333;
}

.view-footer h4 {
	font-size:.9em;
	    margin-bottom: 4px;
    margin-top: 16px;
    clear:both;
}

div.view-selectstate {
	display:inline-block;

	float:left;
	width:80%;
	margin-bottom:20px;
}
select.state-select {
	padding:12px;
	display:inline-block;
	font-size:.8em;
}
.viz-definitions {
	font-size:.8em;
	clear:both;
}

select#more-options-select {
	padding:12px;
	font-size:.8em;
	width:98%;
}
div.snap-rates-table, div.snap-individuals-table, div.snap-households-demo-number, div.snap-households-demo-percent, div.snap-households-income-number, div.snap-households-income-percent {
	display:none;
	clear:both;
}
body.path-usamap p,
body.path-snap-state-characteristics p,
body.path-snap-household-state-averages p {
	display:inline;
}

p.source{
	margin-top:20px;
	font-size:.9em;
}
ul.source {
 	font-size:.8em;
}

.view-footer p.note {
	margin-top:20px;
	font-size:.80em;
}
/*****/


/*** Tables **/
.views-table, .view-content table {
	table-layout:fixed;
	margin-bottom:25px;
}
td.text-right {
	text-align:right;
	padding: 8px 5% 8px 8px !important;
}
div.snap-rates-table .table > thead > tr > th, div.snap-households-income-number .table > thead > tr > th,
 div.snap-households-demo-percent .table > thead > tr > th, div.snap-households-income-percent .table > thead > tr > th,
 div.snap-individuals-table .table > thead > tr > th{
	text-align: center;
}
div.snap-rates-table caption a, div.snap-rates-table caption {
	font-size: 1em;
	text-transform:uppercase;
	padding-top:25px;
	color:#666;
	font-weight:bold;
}
.table > caption + thead > tr:first-child > th:first-child {
	text-align: left;
}
div.snap-rates-table caption, body.path-snap-household-trends caption, body.path-yearly-trends caption {
	font-size: 1em;
	text-transform:uppercase;
	padding:10px;
	color:#666;
	font-weight:bold;
}

div.content div.field--label-above, div.content div.field--label-inline {
	margin:15px;
}
/*****/



/**** highcharts specific *****/
g.highcharts-button {
	display:none;
}

rect.highcharts-legend-box {
	fill:#fff;
}
g.highcharts-legend-item tspan:hover{
	    fill:#337ab7;
}

body.path-yearly-trends .highcharts-menu-item:nth-child(1),
body.path-yearly-trends .highcharts-menu-item:nth-child(2),
body.path-yearly-trends .highcharts-menu-item:nth-child(3),
body.path-yearly-trends .highcharts-menu-item:nth-child(4),
body.path-yearly-trends .highcharts-menu-item:nth-child(5),
body.path-yearly-trends .highcharts-menu-item:nth-child(6),
body.path-yearly-trends .highcharts-menu-item:nth-child(7),
body.path-yearly-trends .highcharts-menu-item:nth-child(11),
body.path-snap-household-trends .highcharts-menu-item:nth-child(1),
body.path-snap-household-trends .highcharts-menu-item:nth-child(2),
body.path-snap-household-trends .highcharts-menu-item:nth-child(3),
body.path-snap-household-trends .highcharts-menu-item:nth-child(4),
body.path-snap-household-trends .highcharts-menu-item:nth-child(5),
body.path-snap-household-trends .highcharts-menu-item:nth-child(6),
body.path-snap-household-trends .highcharts-menu-item:nth-child(7),
body.path-snap-household-trends .highcharts-menu-item:nth-child(11),
body.path-snap-household-trends ul.highcharts-menu li:nth-child(1) {
	display: none;
}

div.highcharts-container input {
	margin-left:5px;
}

div.state-average-charts g.highcharts-legend {
	display:none;
}
body.path-snap-household-trends text.highcharts-axis-title, body.path-yearly-trends text.highcharts-axis-title {
	font-size:1.3em ! important;
}

/** Visualization tabs **/
body.path-snap-household-trends .nav-tabs > li, body.path-snap-state-characteristics  .nav-tabs > li,
 body.path-snap-household-state-averages .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    margin-right: 1px;
    width: 23%;
    text-align:center;
    background-color:#ededed;
    border-radius:  0;
    font-size:.9em;
    display:table-cell;
    vertical-align:bottom;
    
}
body.path-snap-household-state-averages .nav-tabs {
 width:100%;
}
body.path-snap-household-state-averages .nav-tabs > li {
	width: 18%;
}
body.path-snap-state-characteristics  .nav-tabs > li {
	 width: 44%;
	}

body.path-snap-household-trends .nav-tabs >  li.active, body.path-snap-state-characteristics .nav-tabs > li.active > a,
body.path-snap-household-state-averages .nav-tabs > li.active {
	background-color:#fff;
	border-radius:  0;
}
body.path-snap-household-trends .nav-tabs > li.active > a {
	color:#222;
}
body.path-snap-household-state-averages .nav-tabs > li > a {
	height:135px;
	display:table-cell;
	vertical-align:middle;
	white-space: normal;
align-items: center;
        justify-content: center;
        flex-direction: column;
	width:100%;
}
 /****/


/*** Yearly trends slider ***/
body.path-yearly-trends section.year-slider div.form-item-field-year-number-value-max label.control-label {
	text-transform:lowercase;
}

body.path-yearly-trends .year-slider{
	margin:25px 0 0 40%;
	width:60%;
}
body.path-yearly-trends .year-slider input{
	width:50%;
	margin:10px 0;
}
body.path-yearly-trends .year-slider .bef-slider {
	margin:15px 5%;
}
body.path-yearly-trends .year-slider label{
	display:block;
	width: 99%;
	text-align:left;
	font-size:.9em;
}

/***/

/*** Unused *****

legend.itemStyle {	
}

.fns-bubble-scale ul li {
	float:right;
	 list-style: none;
	 margin: 0px 25px;
	 display:inline-block;
}
.fns-bubble-scale {
	float:right;
	font-weight:bold;
}
.fns-bubble-scale ul li span{
	margin:25px;
}
.hss-bubble {
   
     fill: rgba(255,4,0,.4);
}
.cm-bubble {
   
     fill: rgba(247,250,0,.4);
}
.legend-circle-3 {
    width: 60px;
    height: 60px;
     border-radius: 60px;
    background: rgba(255,4,0,.4);
     fill: rgba(255,4,0,.4);
}
.legend-circle-2-5 {
    width: 50px;
    height: 50px;
     border-radius: 50px;
    background: rgba(255,4,0,.4);
     fill: rgba(255,4,0,.4);
}
 .legend-circle-2 {
    width: 40px;
    height: 40px;
     border-radius: 40px;
    background: rgba(255,4,0,.4);
     fill: rgba(255,4,0,.4);
}
 .legend-circle-1-5 {
    width: 30px;
    height: 30px;
     border-radius: 30px;
    background: rgba(255,4,0,.4);
     fill: rgba(255,4,0,.4);
}

.legend-circle-20 {
    width: 60px;
    height: 60px;
     border-radius: 60px;
    background: rgba(247,250,0,.4);
  
}
.legend-circle-15 {
    width: 45px;
    height: 45px;
     border-radius: 45px;
    background: rgba(247,250,0,.4);
    
}
.legend-circle-10 {
    width: 30px;
    height: 30px;
     border-radius: 30px;
    background: rgba(247,250,0,.4);

}
 .legend-circle-5 {
    width: 15px;
    height: 15px;
     border-radius: 15px;
    background: rgba(247,250,0,.4);
    
}


#header-2 {
    clear: both;
    padding-top: 30px;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
.header-2-codes {
	
    display: inline-block;
    width: 35%;
    margin-top: 20px;

}
#header-2  .form-wrapper {
	width:auto;
	display:inline-block;
	vertical-align:top;
}
#header-2 .field--name-field-case-id {
	display:block;
	width:45%;
	
}
#header-2 .header-subgroup {
	display:inline-block;
	width: 55%;
	margin-left:3%;
	
}
#header-2 .header-subgroup .form-wrapper {
	display:block;
	margin: 0;
}
#issue-codes-group .form-wrapper, .codes-group .form-wrapper {
	width: 100%;
	display:inline-block;
}
.overall-accordion {
	margin: 25px 0;
}

.intv-search-form-block {
	    margin: 0px 0px 15px;
    padding: 35px 10px;
    background-color: #ededed;
}
.intv-search-form-block .js-form-item {
	margin: 10px 10px;
	vertical-align:top;
}
.intv-search-form-block .form-item-projects {
	width:98%;
	display-block;
}
.intv-search-form-block .form-actions {
float: right;
    margin: 10px;
    padding: 10px 0px 10px 10px;
    border: 2px #ccc solid;
}
.view-list-interviewers  {
	padding: 15px;
	border-top: 4px #4040A0 solid
}
.view-list-interviewers .views-field-title, .view-list-interviewers .interviewer-line {
    font-size: 1.2em;
    color: #000;
    border-bottom: 1px #ccc solid;
    padding: 8px 0;
    margin: 0 10px 10px 0px;
    display:inline-block;
    width:auto;
}
.view-list-interviewers .views-label{
	color:#555;
	font-weight:600;
	
}
.projects-to-monitor, .table-responsive table caption {
	background-color:#E0EFFF;
}


div.projects-to-monitor {
	margin:20px 0;
}

#edit-projects {
	width:98%;
}

*/
/*
body.path-usamap path.active-map-100,
body.path-snap-state-characteristics path.active-map-61, body.path-usamap path.active-map-61{
	fill-opacity: 1 !important;
}
body.path-usamap path.active-map-85, 
body.path-usamap path.active-map-51, body.path-snap-state-characteristics path.active-map-51{

	fill-opacity: .85 !important;
}
body.path-usamap path.active-map-70, 
body.path-usamap path.active-map-41, body.path-snap-state-characteristics path.active-map-41 {

	fill-opacity: .7 !important;
}
body.path-usamap path.active-map-55, 
body.path-usamap path.active-map-31, body.path-snap-state-characteristics path.active-map-31 {

	fill-opacity: .55 !important;
}
body.path-usamap path.active-map-40,
body.path-usamap path.active-map-21, body.path-snap-state-characteristics path.active-map-21{

	fill-opacity: .40 !important;
}
body.path-usamap path.active-map-25,
body.path-usamap path.active-map-11, body.path-snap-state-characteristics path.active-map-11 {
	fill-opacity: .25 !important;
}
*/

/** Revised map scale scale for /usamaps 
body.path-usamap path.active-map-100,
 {
	fill-opacity: 1 !important;
}
body.path-usamap path.active-map-90{

	fill-opacity: .80 !important;
}
body.path-usamap path.active-map-80{
	fill-opacity: .60 !important;
}
body.path-usamap path.active-map-70{

	fill-opacity: .40 !important;
}
body.path-usamap path.active-map-60{

	fill-opacity: .20 !important;
}

/**** map scale 70-10  fns-map-scale on /usamap pages.
body.path-usamap path.active-map-73 {
		fill-opacity: 1 !important;
}
body.path-usamap path.active-map-63 {
		fill-opacity: .83 !important;
}
body.path-usamap path.active-map-53 {
		fill-opacity: .66 !important;
}
body.path-usamap path.active-map-43{
		fill-opacity: .49 !important;
}
body.path-usamap path.active-map-33{
		fill-opacity: .32 !important;
}
body.path-usamap path.active-map-23{
	fill-opacity: .15 !important;
}
***/
 