{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('mpr/usamap') }}
{% if title %}
  <h3>{{ title }}</h3>

{% endif %}
{%
  set classes = [
    'us-state-'~fields.field_state_abbr.content,
    'us-state'
    
  ]
  %}


{% if fields.field_state_abbr.content != 'USA' %}
<a href="#" {{ attributes.addClass(classes) }} {{ attributes.setAttribute('data-abbr',fields.field_state_abbr.content) }} {{ attributes.setAttribute('data-name',fields.field_state.content) }} 
{% for field in fields %}
{% if ((field.label_element == 'var') or (field.label_element == 'samp') or (field.label_element == 'details'))  %}
{% set datatype = 'data-'~field.label %}
{{ attributes.setAttribute(datatype,field.content) }} 
{% endif  %}
{% endfor %}
 > {{ attributes.removeAttribute('class') }} {{ attributes.removeAttribute('data-name') }} {{ attributes.removeAttribute('data-abbr') }} 

  <path {{ attributes.setAttribute('d', fields.field_path.content) }} {{ attributes.addClass('active-map') }} 
 fill="#cccccc" fill-opacity="1" opacity="1" stroke="#aaaaaa" stroke-linejoin="round" stroke-opacity="1" stroke-width="1.875" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; cursor: pointer; stroke-opacity: 1; stroke-linejoin: round; fill-opacity: 1;" transform="matrix(0.487,0,0,0.487,0,0)"/>
   {{ attributes.removeAttribute('d') }} 
{% for field in fields %}
{% if ((field.label_element == 'var') or (field.label_element == 'samp') or (field.label_element == 'details'))  %}
{% set datatype = 'data-'~field.label %}
{{ attributes.removeAttribute(datatype) }} {{ attributes.removeAttribute('class') }}
{% endif  %}
{% endfor %}

{% for field in fields %}
{% if field.label_element == 'samp' %}
{% set bclasses = [
  'hss-bubble',
 'hss-bubble-'~field.content | trim |round
 ]
  %}
{% set varin = field.content | trim  %}
{% set bsize = ((varin/2) * 15) %}
 
<circle {{ attributes.setAttribute('cx', fields.field_text_x.content) }} {{ attributes.setAttribute('cy', fields.field_text_y.content) }} {{ attributes.addClass(bclasses) }} {{ attributes.setAttribute('r', bsize) }} />
 {{ attributes.removeAttribute('class') }} {{ attributes.removeAttribute('r') }}{{ attributes.removeAttribute('cx') }}{{ attributes.removeAttribute('cy') }}
{% endif  %}
{% endfor %}

{% for field in fields %}
{% if field.label_element == 'details' %}
{% set bclasses = [
  'cm-bubble',
 'cm-bubble-'~field.content | trim |round
 ]
  %}
{% set varin = field.content | trim  %}
{% set bsize = (varin) %}
 
<circle {{ attributes.setAttribute('cx', fields.field_text_x.content) }} {{ attributes.setAttribute('cy', fields.field_text_y.content) }} {{ attributes.addClass(bclasses) }} {{ attributes.setAttribute('r', bsize) }} />
 {{ attributes.removeAttribute('class') }} {{ attributes.removeAttribute('r') }}{{ attributes.removeAttribute('cx') }}{{ attributes.removeAttribute('cy') }}
{% endif  %}
{% endfor %}

<text {{ attributes.setAttribute('x', fields.field_text_x.content) }} {{ attributes.setAttribute('y', fields.field_text_y.content) }}>
 {{ attributes.removeAttribute('x').removeAttribute('y') }} 
    <tspan{{ attributes.setAttribute('dy', fields.field_tspan_dy.content) }}>
{{ fields.field_state_abbr.content }}
    </tspan>   
</text>

 </a>
{% endif %}